<div class="title-container">
  <div class="title-tag">
    The Tech Blog
  </div>
</div>

<div class="container-fluid">
  <div class="card-element">
    <div class="form-title">
      Login
    </div>
    <form class="form-body login-form">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username-input"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-input" />
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-secondary">Login</button>
      </div>
      <div class="form-attachment">
        <a href="/signup">Sign up insted</a>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>